{{!-- this is where the homepage start --}}
    <h1 class="top-left-header"><span class="material-symbols-outlined">
        hive
        </span>Bizi</h1>
    
      
     <a href="/login" class="btn btn-danger logout-button">Logout</a>
     
    <h2 class="header">Create a new Bizi card!</h2>


    <div class="centered-button">
        <div class="rectangular-button" id="new-card-button">+</div>
    </div>

     <footer class="text-center text-lg-start fixed-bottom">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white">
            © 2023 All Rights Reserved: By Keith Primas, Alejandro Reyes-Solis, and Ben Palacpac
        </div>
        <!-- Copyright -->
    </footer> 

    <link rel="stylesheet" type="text/css" href="./css/home.css">

    <style> 
        
    </style>
  
    <script src="/assets/js/logout.js"></script>

  