{{!-- this is where the homepage start --}}
    <h1 class="top-left-header"><span class="material-symbols-outlined">
        hive
        </span>Bizi</h1>

    <a href="/logout" class="btn btn-danger logout-button">Logout</a>

    <h2 class="header">Create a new Bizi card!</h2>


    <div class="centered-button">
        <div class="rectangular-button" id="new-card-button">+</div>
    </div>

    <link rel="stylesheet" type="text/css" href="./css/home.css">

    <style> 
        
    </style>

    <script src="/assets/js/login.js"></script>

  