
    <h1 class="top-left-header"><span class="material-symbols-outlined">
        hive
        </span>Bizi</h1>

    <button class="btn btn-danger logout-button">Logout</button>

    <h2 class="header">Create a new Bizi card!</h2>


    <div class="centered-button">
        <div class="rectangular-button" id="new-card-button">+</div>
    </div>


    <script src="/assets/js/login.js"></script>

  