    <div class="container mt-5">
          <div class="row justify-content-lg-center" style="margin-top: 30px;">
              <div class="col-lg-4">
                  <h1 class="text-center" style="font-size: 140px; padding-bottom: 10px; color: #ffffff" id="resuME"><i class="fa-solid fa-scroll"></i>resuME</h1>
                  <h4 class="text-center" style="padding-bottom: 40px; color: #ffffff; font-size: 35px;" id="slogan">The quick and easy way to build a professional resume today!</h4>
                  <div class="card border-0" id="login-section">
                      <div class="card-body bg-light">
                          <!-- Login Form -->
                          <form>
                              <div class="form-group" style="padding-bottom: 10px;">
                                  <label for="email">Email</label>
                                  <input type="text" class="form-control" id="login-email" placeholder="Enter email address">
                              </div>
                              <div class="form-group" style="padding-bottom: 10px;">
                                  <label for="password">Password</label>
                                  <input type="password" class="form-control" id="login-password" placeholder="Enter password">
                              </div>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="rememberMe">
                                  <label class="form-check-label" for="rememberMe">Remember Me</label>
                              </div>
                              <button type="button" class="btn btn-link link-underline link-underline-opacity-0" style="color: #7ac8ff; font-weight: bold; letter-spacing: 2px;">Forgot Password?</button>
                              <button type="submit" id="login-button" class="btn btn-success float-right">Login</button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4" style="margin-bottom: 100px;">
                  <div class="card border-0" id="signup-section">
                      <div class="card-body bg-light">
                          <!-- Signup Form -->
                          <form>
                              <h2 class="text-center" style="color: #7ac8ff;">Sign Up!</h2>
                              <div class="form-group" style="padding-bottom: 10px;">
                                  <label for="firstName">First Name</label>
                                  <input type="text" class="form-control" id="firstName" placeholder="Enter your first name">
                              </div>
                              <div class="form-group" style="padding-bottom: 10px;">
                                  <label for="lastName">Last Name</label>
                                  <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
                              </div>
                              <div class="form-group" style="padding-bottom: 10px;">
                                  <label for="email">Email Address</label>
                                  <input type="email" class="form-control" id="signup-email" placeholder="Enter your email address">
                              </div>
                              <div class="form-group" style="padding-bottom: 10px;">
                                  <label for="signup-password">Password</label>
                                  <input type="password" class="form-control" id="signupPassword" placeholder="Choose a password">
                              </div>
                              <button type="button" id="signup-button" class="btn btn-primary">Sign Up
                              </button>
                             <div id="signup-success-popover" class="popover">
                                <div class="popover-content">Thank you for signing up!</div>
                            </div>

                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <footer class="text-center text-lg-start fixed-bottom">
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white">
            © 2023 All Rights Reserved: By Keith Primas, Alejandro Reyes-Solis, and Ben Palacpac
          </div>
          <!-- Copyright -->
      </footer>

      



    

