* {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('/assets/bg1.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#bizi {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.72);
    position: relative;
    right: 35px;
    bottom: 40px;
}

#bizi {
    font-size: 140px;
    color: #ffffff;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      color: #ffffff; /* Start with white color */
      opacity: 0;
    }
    100% {
      color: yellow; /* End with blue color */
      opacity: 1;
    }
  }
  
#slogan {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.72);
    position: relative;
    bottom: 80px;
}

#login-section {
    position: relative;
    bottom: 100px;
}

#signup-section {
    position: relative;
    top: 100px;
    left: 80px;
}

.popover {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.popover-content {
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-size: 90px;
}



@media only screen and (max-width: 1000px) {
    #signup-section {
      position: relative;
      top: 0px;
      left: 0px;
    }
  }

